* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  background-color: rgb(241, 8, 82);
  display: inline-block;
  border-radius: 2px;
  padding: 0.3rem;
}
nav {
  display: block;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: black;
}
nav button {
  margin-top: 1rem;
  border-radius: 0.3rem;
  color: rgb(229, 7, 137);
  background-color: white;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}

.container {
  text-align: center;
}

/* CSS for text design */
.name {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 26px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* CSS for price design */
.price {
  background-image: linear-gradient(
    -22deg,
    #231557 0%,
    #107a29 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block; */
  font-size: 20px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.card {
  margin: 6rem 0rem -5rem;
  /* margin-top: 6.5rem; */
  border: 1px solid black;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 10px 10px;
  background-color: rgb(244, 239, 211);
}

.name {
  color: rgb(241, 8, 82);
}
.price {
  color: black;
}

img {
  padding: 1rem 0;
  width: 18rem;
  height: 15rem;
}

.order {
  margin-top: 3px;
  background-color: #91d669;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(143, 17, 134);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.order:hover {
  transform: scale(1.01);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.footer {
  text-align: center;
  margin: 2rem;
}

@media (max-width: 720px) {
  .container {
    margin: 0px 40px;
  }
}
@media (max-width: 380px) {
  .container {
    margin: 0px 20px;
  }
}
@media (max-width: 340px) {
  .container {
    margin: 0px 10px;
  }
}
